.metadata/
clientes/.mvn
clientes/target/
ecommerce/.mvn
ecommerce/target/
eureka/.mvn
eureka/target/
catalogo/.mvn
catalogo/target/
configserver/bin/
configserver/settings/
configserver/gradle/
configserver/.gradle/
configserver/.classpath
configserver/.project
gateway/.mvn
gateway/target/
